{% extends base_template %}
{% block content %}
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <a class="btn btn-sm align-middle btn-outline-primary" href="{{ url_for('.add') }}">
                <i class="fa fa-plus"></i>&nbsp;Добавить закупку
            </a>
        </form>
    </nav>
    <table class="table">
        <thead>
            <th>#</th>
            <th>Ингредиент</th>
            <th>Закуплено</th>
            <th>Остаток</th>
            <th>Цена</th>
            <th></th>
        </thead>
        <tbody>
        {% for i in items %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                {% set ingredient = i.ingredient_id|ingredient %}
                <a href="{{ url_for('.edit', _id=i._id) }}">{{ ingredient.category }} {{ ingredient.name }}</a>
            </td>
            <td> {{ i.supply_amount }} {{ ingredient.units }}</td>
            <td> {{ i.current_amount }} {{ ingredient.units }}</td>
            <td> {{ i.price }} руб.</td>
            <td>
                <a href="{{ url_for('.remove', _id=i._id) }}">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">
                <i>Список закупок пуст.</i>
                <a href="{{ url_for('.add') }}">Добавить закупку</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}