<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <title>{% block title %}{{ config.PROJECT_NAME }}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/coffee-256.png') }}">
    
    <!-- Apple Web app -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/coffee-256.png') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <style>
        body {
            padding-top: 5rem;
        }
        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
        .icon {
            width: 16px;
            height: 16px;
        }
        .fa:link {
            text-decoration: none;
            font-size: 1.1em;
        }
    </style>
    {% block css %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    {% block js %}{% endblock %}
</body>
</html>